# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 

* List popular languages for data science
* Plot using R and Python 
* Learn the GitHub Interface

## Author 
Lucas Mitchell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C
4. C++
5. Julia

|Data science tools |
|-------------------|
|Jupyter|
|RStudio|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This is a simple arithmatic expression involving multipying and adding 
(3*4)+5

17

In [2]:
##  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335